html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 85.375rem;
}
.el-breadcrumb{
    margin-bottom: 1rem;
    font-size: .75rem;
}
.el-card{
    box-shadow: 0 .0625rem .0625rem rgb(0,0,0,0.15) !important;
}
.el-table{
    margin-top: .9375rem;
    font-size: .75rem;
}
.el-pagination{
    margin-top: .9375rem;
    text-align: right;
}

.el-dialog__footer{
    text-align: center;
}